---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -zircon-*,
        -llvm*,
        -*-vararg,
        -*-magic-numbers,
        -*-static-assert,
        -*-avoid-c-arrays,
        -*-named-parameter,
        -modernize-use-trailing-return-type,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -readability-redundant-access-specifiers,
        -cppcoreguidelines-special-member-functions,
        -hicpp-special-member-functions,
        -readability-implicit-bool-conversion,
        -hicpp-explicit-conversions,
        -readability-identifier-length,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-type-reinterpret-cast,
        -cppcoreguidelines-avoid-non-const-global-variables,
        -hicpp-signed-bitwise,
        -misc-definitions-in-headers,
        -cert-dcl03-c,
        -performance-no-int-to-ptr,
        -*-member-init,
        -*-pointer-arithmetic,
        -*-uppercase-literal-suffix,
        -*-type-union-access,
        -*-cognitive-complexity,
        -*-swappable-parameters,
        -*-array-to-pointer-decay,
        -*-array-decay,
        -*-constant-array-index,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
